.new-incident-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.new-incident-container .content {
  width: 100%;
  padding: 96px;
  background: #F0F0F5;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-incident-container .content section {
  width: 100%;
  max-width: 380px;
}

.new-incident-container .content section h1 {
  margin: 30px auto 30px 0;
  font-size: 32px;
}

.new-incident-container .content section p {
  font-size: 18px;
  color: #737378;
  line-height: 32px;
}

.back-link {
  margin-top: 10px;
}


.new-incident-container .content form {
  width: 100%;
  max-width: 450px;
}

.new-incident-container .content form input,
.new-incident-container .content form textarea {
  margin-top: 8px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-submit {
  width: 49%;
  height: 60px;
  background: #E02041;
  border: 0;
  border-radius: 8px;
  color: #FFF;
  font-weight: 700;
  margin-top: 16px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  transition: filter 0.2s;
}

.button-submit:hover {
  filter: brightness(90%);
}

.button-cancel {
  width: 49%;
  height: 60px;
  background: #dbdbdb;
  border: 0;
  border-radius: 8px;
  color: #000;
  font-weight: 700;
  margin-top: 16px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  transition: filter 0.2s;
}

.button-cancel:hover {
  filter: brightness(90%);
}


